table {
	border-collapse: collapse;
	text-align: center;
	display: inline-block;
}

td,
th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
	font-size: 1.6rem;
}

.order-display {
	box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
	border-radius: 4%;
	text-align: center;
	border: 1px solid #999;
	padding: 1rem;
	width: 45%;
	margin: 0.25rem;
	display: inline-block;
	font-size: 1.6rem;
	top: 0;
	background-color: lightblue;
	color: #330000;
}

.table {
	display: inline-block;
	padding: 0.5rem;
	position: relative;
	font-size: 1.6rem;
}

input {
	width: 80%;
}

.order-buttons {
	& button {
		color: yellow;
		background-color: hotpink;
		text-align: center;
		margin: 0.25rem auto;
	}
}
