.orders-container,
.totals-container,
.new-order-container {
	padding-top: 1rem;
	background-color: lightyellow;
	text-align: center;
}

table {
	border-collapse: collapse;
	text-align: center;
	display: inline-block;
	width: 100%;
}

td,
th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
	font-size: 1.6rem;
}

.order-display,
.total-display {
	box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
	border-radius: 4%;
	text-align: center;
	border: 1px solid #999;
	padding: 1rem;
	width: 45%;
	margin: 0.5rem;
	display: inline-block;
	font-size: 1.6rem;
	top: 0;
	background-color: lightblue;
	color: #003300;
}

.total-display {
	box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
	border-radius: 4%;
	text-align: center;
	border: 1px solid #999;
	padding: 1rem;
	width: 75%;
	margin: 0.5rem;
	display: inline-block;
	font-size: 1.6rem;
	top: 0;
	background-color: lightblue;
	color: #003300;
}

.table {
	display: inline-block;
	padding: 0.5rem;
	position: relative;
	font-size: 1.6rem;
}

input {
	width: 80%;
	background-color: lightblue;
	padding: 0.2rem;

	&:focus {
		outline: none;
		border: 2px solid rgba(coral, 1);
	}
}

.order-buttons {
	& button {
		color: yellow;
		background-color: hotpink;
		text-align: center !important;
		margin: 0.25rem 0.25rem;
	}
}
